@model University.Data.Application

@{
    ViewBag.Title = "AcceptApplicationOffer";
}

<h2>Do you want to accept your application for <b>@Html.DisplayFor(model => model.CourseName)</b></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ApplicantId)
    @Html.HiddenFor(model => model.UniversityId)
    @Html.HiddenFor(model => model.UniversityOffer)
    @Html.HiddenFor(model => model.PersonalStatement)
    @Html.HiddenFor(model => model.TeacherContactDetails)
    @Html.HiddenFor(model => model.TeacherReference)
    @Html.HiddenFor(model => model.Firm)


    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Accept Offer" class="btn btn-success btn-sm" />
            @Html.ActionLink("Cancel", "GetApplications", new { userId = ViewBag.UserId }, new { @class = "btn btn-link btn-sm" })
        </div>
    </div>
</div>
}
