@model University.Data.Application

@{
    ViewBag.Title = "EditApplication";
}

<h2>Edit your application for <b>@Html.DisplayFor(model => model.CourseName)</b></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CourseName)
    @Html.HiddenFor(model => model.UniversityOffer)
    @Html.HiddenFor(model => model.UniversityId)
    @Html.HiddenFor(model => model.ApplicantId)
    @Html.HiddenFor(model => model.Firm)

    <div class="form-group">
        <label for="PersonalStatement" class="control-label col-md-2">Personal Statement</label>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.PersonalStatement, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PersonalStatement, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="TeacherReference" class="control-label col-md-2">Teacher Reference</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TeacherReference, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TeacherReference, "", new { @type="text", @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="TeacherContactDetails" class="control-label col-md-2">Teacher Contact Details</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TeacherContactDetails, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TeacherContactDetails, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary btn-sm" />
            @Html.ActionLink("Cancel", "GetApplications", new { userId = ViewBag.UserId }, new { @class="btn btn-link btn-sm"})
        </div>
    </div>
</div>
}
