@model IEnumerable<University.Data.BEANS.ApplicationBEAN>

@{
    ViewBag.Title = "GetApplications";
}

<h2>GetApplications</h2>

<p>
    @if (Model.Count() < 5)
    {
        @Html.ActionLink("Create New Application", "GetUniversities", new { Controller = "University" })
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.University)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalStatement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherContactDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniversityOffer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.University)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalStatement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherContactDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniversityOffer)
        </td>
        <td>
            @if (item.UniversityOffer == "P")
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationId })
                <span> | </span>
                @Html.ActionLink("Delete", "DeleteApplication", new { id = item.ApplicationId })
            }
            @if (item.UniversityOffer == "C" || item.UniversityOffer == "U")
            {
                @Html.ActionLink("Accept Offer", "AcceptApplication", new { id = item.ApplicationId })
            }
        </td>
    </tr>
}

</table>
