@model IEnumerable<Courses.Service.BEANS.CoursesBEAN>

@{
    ViewBag.Title = "GetCourses";
}

<h2>Courses</h2>



<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_@Html.DisplayFor(modelItem => item.Id)">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#content_@Html.DisplayFor(modelItem => item.Id)" aria-expanded="true" aria-controls="collapse_@Html.DisplayFor(modelItem => item.Id)">
                        @Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Degree))
                    </a>
                </h4>
            </div>
            <div id="content_@Html.DisplayFor(modelItem => item.Id)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@Html.DisplayFor(modelItem => item.Id)">
                <div class="panel-body">

                    <p>
                        <b>@Html.DisplayNameFor(model => model.NSS):</b> @Html.DisplayFor(modelItem => item.NSS) |
                        <b>@Html.DisplayNameFor(model => model.Tarif):</b> @Html.DisplayFor(modelItem => item.Tarif)
                    </p>

                    <h3> @Html.DisplayNameFor(model => model.Requirements)</h3>
                    <p>
                        @Html.DisplayFor(modelItem => item.Requirements)
                    </p>

                    <h3>@Html.DisplayNameFor(model => model.Description)</h3>
                    <p>
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>

                    @Html.ActionLink("Apply", "CreateApplication", new { UniversityId = ViewBag.UniversityId, CourseName = item.Name, Controller = "Application" }, new { @class="btn btn-primary" })


                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to universities", "GetUniversities", new { Controller = "University" }, new { @class = "btn btn-link btn-sm" })
</div>
